body{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #434455;
    background-color: #ffffff;
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

h2, h3{
    color: #2E2F42;
}

/*----------------HEADER----------------*/
.logo{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;


    color: #4D5AE5;
}

.header-logo{
    color: #2E2F42;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #2E2F42;
}
.nav-link:hover,
.nav-link:focus{
    color: #404BBF;
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #434455;
}

.address-link:hover,
.address-link:focus{
    color: #404BBF;
}

.address-list{
    font-style: normal;
}

/*----------------/HEADER---------------------*/

/*------------HERO-SECTION--------------*/
.hero-section{
    background-color: #2E2F42;
}

.hero-text{
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;

    color: #ffffff;
}

.hero-button{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        vertical-align: middle;
        cursor: pointer;

        color: #ffffff;
        background-color: #4D5AE5;
}

.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;
}

.title-two{
        font-size: 36px;
            font-weight: 700;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            text-transform: capitalize;
}

.text-main{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;

        color: #2E2F42;
}

.info-teg{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
}

.section-team{
    background-color: #F4F4FD;
}

.team-text{
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
}

.list-name-developer{
    background-color: #FFFFFF;
}

.title-portfolio{
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
}

/*---------------/HERO SECTION--------------*/

/*-----------------FOOTER--------------*/

.foot-logo{
    font-family: Raleway;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.03em;
        vertical-align: middle;
        text-transform: uppercase;

        color: #4D5AE5;
}

.span-foot{
    color: #F4F4FD;
}

.footer-section{
    background-color: #2E2F42;
}

.foot-paragraph{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        
        color: #F4F4FD;
}

/*---------------/FOOTER------------*/